*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #212226;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 24px;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
  color: #EEEEEE;
}

.subtitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #B3B3B3;
}

.articles {
  margin-bottom: 180px;
}

.articles_title {
  margin-bottom: 8px;
}

.articles_subtitle {
  margin-bottom: 40px;
}

.articles_inner {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.articles_items {
  display: flex;
  align-items: end;
  width: 380px;
  height: 214px;
  min-width: 326px;
  min-height: 184px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(32, 27, 24, 0.2509803922);
  margin-bottom: 10px;
}

.articles_items:first-child {
  background-image: url("../images/article/1@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.articles_items:nth-child(2) {
  background-image: url("../images/article/2@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.articles_items:nth-child(3) {
  background-image: url("../images/article/3@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.articles_items-title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}

.articles_items-subtitle {
  font-size: 12px;
  line-height: 18px;
}

.advantages {
  margin-bottom: 180px;
}

.advantages_title {
  color: #EEEEEE;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.advantages_subtitle {
  color: #B3B3B3;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 40px;
}

.advantages__items-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

._items-content-box {
  padding: 30px 20px;
  min-width: 276px;
  width: 25%;
  border-radius: 16px;
  display: flex;
  background-color: #2E2B2E;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.-content-box__img {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  margin-bottom: 30px;
}
.-content-box__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.-content-box__content h5 {
  font-size: 16px;
  line-height: 18px;
  color: #EEEEEE;
  margin-bottom: 8px;
}
.-content-box__content h6 {
  font-size: 14px;
  line-height: 20px;
  color: #E5C69E;
  margin-bottom: 8px;
}

.photo_gallery {
  overflow: hidden;
}

.photo_gallery--title {
  text-transform: uppercase;
  font-weight: 700;
  color: #EEEEEE;
  line-height: 18px;
  margin-bottom: 8px;
  font-size: 24px;
}

.photo_gallery--subtitle {
  color: #B3B3B3;
  line-height: 18px;
  margin-bottom: 40px;
  font-size: 14px;
}

.photo_gallery__items {
  display: grid;
  padding: 0 24px;
  grid-template-columns: repeat(44, 60px);
  grid-template-rows: repeat(18, 30px);
  grid-gap: 6px;
  transform: translateX(-35%);
  margin-bottom: 40px;
}

.photo_gallery__items--img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: box-shadow 280ms ease-out;
}
.photo_gallery__items--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.photo_gallery__items--img:hover {
  box-shadow: 4px 6px 8px #D59B78;
}

.photo_gallery__items--img:first-child {
  grid-row: 3/span 12;
  grid-column: 1/span 5;
}

.photo_gallery__items--img:nth-child(2) {
  grid-row: 2/span 7;
  grid-column: 7/span 7;
}

.photo_gallery__items--img:nth-child(3) {
  grid-row: 3/span 12;
  grid-column: 16/span 5;
}

.photo_gallery__items--img:nth-child(4) {
  grid-row: 1/span 7;
  grid-column: 22/span 7;
}

.photo_gallery__items--img:nth-child(5) {
  grid-row: 2/span 12;
  grid-column: 31/span 5;
}

.photo_gallery__items--img:nth-child(6) {
  grid-row: 3/span 7;
  grid-column: 37/span 7;
}

.photo_gallery__items--img:nth-child(7) {
  grid-row: 10/span 7;
  grid-column: 8/span 7;
}

.photo_gallery__items--img:nth-child(8) {
  grid-row: 9/span 7;
  grid-column: 23/span 7;
}

.photo_gallery__items--img:nth-child(9) {
  grid-row: 12/span 7;
  grid-column: 38/span 7;
}

.footer {
  padding-top: 30px;
  background-color: #1F2023;
}

.footer_btn {
  display: inline-block;
  color: #EEEEEE;
  text-decoration: none;
  padding: 8px 41px;
  border: 1px solid #D59B78;
  border-radius: 20px;
  margin-bottom: 30px;
}

.footer_inner {
  display: flex;
  gap: 86px;
  padding-bottom: 54px;
  flex-wrap: wrap;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.2509803922);
}

.footer_items {
  flex: 1;
  margin-bottom: 24px;
}
.footer_items a {
  text-decoration: none;
}

.footer__items--name {
  color: #FFFFFF;
  margin-bottom: 30px;
}

.footer_items_content a, p {
  color: #B3B3B3;
  display: block;
  transition: color 280ms ease-out;
}
.footer_items_content a:hover, p:hover {
  color: #E5C69E;
}

.footer_items_content p {
  margin-bottom: 30px;
}

.footer__phone {
  height: 24px;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  padding-left: 34px;
  margin-bottom: 16px;
}
.footer__phone:before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/phone.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  z-index: 1;
  left: 0;
}

.footer__mail {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  padding-left: 34px;
  margin-bottom: 16px;
}
.footer__mail:before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/mail.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  z-index: 1;
  left: 0;
}

.footer__address {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  padding-left: 34px;
}
.footer__address:before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/icon-location.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  z-index: 1;
  left: 0;
}

.footer_items_content__box {
  display: flex;
  gap: 24px;
}

._content-box a {
  margin-bottom: 10px;
}

._content--email {
  position: relative;
}

._content--email input {
  width: 100%;
  min-height: 44px;
  line-height: 18px;
  border: none;
  outline: none;
  color: wheat;
  font-size: 14px;
  border-radius: 5px;
  padding: 12px 50px 12px 16px;
  background-color: rgba(229, 198, 158, 0.1019607843);
}

._content--email label {
  cursor: pointer;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: 1;
  width: 44px;
  min-height: 44px;
  background: #D59B78 url("../images/icons/icon-confirm.svg") no-repeat center;
}

.footer__footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footer__footer span {
  font-size: 12px;
  line-height: 18px;
  color: #B3B3B3;
}
.footer__footer a {
  font-size: 12px;
  line-height: 18px;
  color: #B3B3B3;
  display: inline-block;
  transition: color 280ms ease-out;
}
.footer__footer a:hover {
  color: #E5C69E;
}

@media screen and (max-width: 1200px) {
  .advantages__items-content {
    flex-wrap: wrap;
  }
  .advantages {
    margin-bottom: 110px;
  }
  .articles_inner {
    flex-wrap: wrap;
  }
  .articles {
    margin-bottom: 110px;
  }
}
@media screen and (max-width: 1024px) {
  .photo_gallery__items {
    transform: translate(0);
    overflow: scroll;
  }
}
@media screen and (max-width: 768px) {
  ._items-content-box {
    flex-direction: row;
  }
  .-content-box__img {
    width: 64px;
    height: 64px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  ._items-content-box {
    min-width: 320px;
  }
  .advantages {
    margin-bottom: 60px;
  }
  .articles {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 425px) {
  ._items-content-box {
    min-width: 314px;
    padding: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
