@media screen and (max-width: 1200px) {

  .advantages__items-content {
    flex-wrap: wrap;
  }
  .advantages {
    margin-bottom: 110px;
  }
  .articles_inner {
    flex-wrap: wrap;
  }
  .articles {
    margin-bottom: 110px;
  }

}

@media screen and (max-width: 1024px) {

  .photo_gallery__items {
    transform: translate(0);
    overflow: scroll;
  }
  .header_inner {
    gap: 40px;
  }

}

@media screen and (max-width: 768px) {

  ._items-content-box {
    flex-direction: row;
  }
  .-content-box__img {
    width: 64px;
    height: 64px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  ._items-content-box {
    min-width: 320px;
  }
  .advantages {
    margin-bottom: 60px;
  }
  .articles {
    margin-bottom: 60px;
  }
  .header_inner {
    gap: 20px;
  }

  .header_container {
    padding: 0 24px;
  }

  .header_search {
    width: 50%;

    label {
      input {
        width: 100%;
      }
    }
  }


}


@media screen and (max-width: 425px) {

  ._items-content-box {
    min-width: 314px;
    padding: 16px;
  }
  .header_inner {
    gap: 0;
  }

  .header_logo {
    margin: auto;

    span {
      display: block;
    }

    img {
      display: none;
    }
  }
  .header_search {
    width: 100%;
  }

}
