$bg_color: #212226;
$bg_color_two: #2E2B2E;
$footer_color: #1F2023;
$footer_border: #B3B3B340;
$title-color: #EEEEEE;
$subtitle-color: #B3B3B3;
$box-color: #2E2F33;
$border_color: #D59B78;
$border-gallery-color: #E5C69E80;
$star_on: #FED566;
$star_border: #FDD566;
$content_color: #FFFFFF;
$content-text-color: #201B18;
$content_title-color: #E5C69E;
$content_drop-flag-color: #635271;
$linear_1: #303134;
$linear_gradient_2-1: #343438;
$linear_gradient_2-2: #34343800;
$border_email: #E5C69E1A;
